.image-display-before {
  height: 86px;
  width: 86px;
  margin-right: 25px;
  margin-left: 25px;
}
.image-display-after {
    height: 86px;
    width: 86px;
    margin-right: 25px;
    margin-left: 25px;
}
